<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Campus Crush | WebDev Labs - SVNIT Surat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #566573">
    <img src="img/logo.png" width="50px" height="50px" alt="">
    <a class="navbar-brand" href="/">Campus Crush</a>
  </nav>
  <div class="jumbotron">
    <div class="main-form container">
      <form action = "/" method = "POST" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" class="form-control" id="name" aria-describedby="nameOfPerson" name = "name" placeholder="Enter name" required>
          <small id="nameHelp" class="form-text text-muted">Your name</small>
        </div>
        <div class="form-group">
          <label for="facebook link">Your Facebook handle</label>
          <input type="text" class="form-control" name="ownfblink" placeholder="Your Facebook handle" required>
          <small class="form-text text-muted">If your Facebook profile link is "https://facebook.com/johndoe", then your handle is johndoe.</small>
        </div>
        <div class="form-group">
          <label for="facebook link">Crush's Facebook handle</label>
          <input type="text" class="form-control" name="crushfblink" placeholder="Crush's facebook handle" required>
          <small class="form-text text-muted">If your Crush's Facebook profile link is "https://facebook.com/johndoe", then your handle is johndoe.</small>
        </div>
        <div class="form-group">
          <label for="facebook link">Your mobile number</label>
          <input type="number" class="form-control" name="ownconumber" placeholder="Your Contact number(Mobile)" required>
          <small id="contactHelp" class="form-text text-muted">Please enter mobile number without the country code ie just 10 digits: XXXXX XXXXX</small>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="acceptterms" required>
          <label class="form-check-label" for="exampleCheck1">I accept all <a href="https://goo.gl/E2cD6g">terms and conditions.</a></label>
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div id="">
    <div class="container">
      <p class="footer-block">Made with &hearts; at <a href="https://www.facebook.com/webdevlabs/">WebDev Labs</a></p>
    </div>
  </div>
</body>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
</html>
