<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thank you!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body class="jumbotron">
    Thanks a lot! Wait till 12 AM to know if someone likes you.
  </body>
</html>
